<!DOCTYPE html>
<html lang="fr">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://www.i3s.unice.fr/co2/sites/all/themes/lexi_responsive_theme/favicon.ico" rel="icon" type="image/ico"/>
  <title>
   A propos | GROUPE CO2 I3S
  </title>
  <link href="../assets/main.css" rel="stylesheet"/>
  <meta content="GROUPE CO2 I3S" property="og:title"/>
  <meta content="GROUPE CO2 I3S" name="twitter:title"/>
  <meta content="summary" name="twitter:card">
   <meta content="https://www.i3s.unice.fr/co2/fr" property="og:url"/>
   <meta content="Le groupe Co2 i3s est un consortium de chercheurs travaillants pour une meilleure inclusion des thématiques de l'environnement dans le milieu de la recherche." property="og:description">
    <meta content="Le groupe Co2 i3s est un consortium de chercheurs travaillants pour une meilleure inclusion des thématiques de l'environnement dans le milieu de la recherche." property="twitter:description"/>
    <meta content="GROUPE CO2 I3S" property="og:site_name"/>
    <meta content="Alexis Mérienne" property="og:article:author"/>
   </meta>
  </meta>
 </head>
 <body>
  <main>
   <header class="top">
    <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;">
     <img alt="gt co2 banner" loading="lazy" src="../assets/gtco2banner.jpg" width="80%"/>
    </p>
    <h1>
     Groupe de travail Co2
    </h1>
    <div class="subtitle">
     <a href="https://solar.lowtechmagazine.com/fr">
      Ce site reprend le design de sobriété proposé par low-tech magazine
     </a>
    </div>
    <nav id="menu">
     <div id="menu-s">
      menu
     </div>
     <ul id="menu-list">
      <li>
       <a class="category" href="https://i3s-gt-co2.netlify.app/">
        À propos
       </a>
      </li>
      <li class="act">
       <a class="category" href="actualites.html">
        Actualités
       </a>
      </li>
      <li class="bc">
       <a class="category" href="bilancarbone.html">
        Bilan carbone
       </a>
      </li>
      <li class="enq">
       <a class="category" href="enquete.html">
        Enquête
       </a>
      </li>
     </ul>
    </nav>
   </header>
   <section class="page" id="content">
    <header>
     <h1 class="page-title">
      Actualités
     </h1>
     <p class="summary" style="margin-bottom: 50px ;">
      Retrouvez ici les dernières actualités du groupe de travail Co2
     </p>
    </header>
    <div class="entry-content">
     <div class="page-content" style="display: flex;flex-direction: row;">
      <div class="page-logos" style="width: 25%;">
       <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
        <img alt="i3s logo" loading="lazy" src="../assets/i3slogo.jpg"/>
       </p>
       <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
        <img alt="uca logo" loading="lazy" src="../assets/ucalogo.jpg"/>
       </p>
       <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
        <img alt="cnrs logo" loading="lazy" src="../assets/cnrslogo.jpg"/>
       </p>
      </div>
      <div class="actualite-list" style="display: flex;flex-direction: column;">
       <div class_="actualite-wrapper">
        <h4 class="act-title" id="act-title">
         2 avril 2022 :  Outil de calcule de l'impact carbone du numérique
        </h4>
        <p>
         Conception d'un outil où l'on peut renseigner son utilisation du numérique d'une journée pour avoir un retour sur sa consommation en GES.
        </p>
        <p>
         L'outil est disponible
         <a href="https://mon-impact-numerique.web.app/">
          ici
         </a>
         .
        </p>
       </div>
       <div class_="actualite-wrapper">
        <h4 class="act-title" id="act-title">
         2 avril 2022 :  Outil de calcule de l'impact carbone du numérique
        </h4>
        <p>
         Conception d'un outil où l'on peut renseigner son utilisation du numérique d'une journée pour avoir un retour sur sa consommation en GES.
        </p>
        <p>
         L'outil est disponible
         <a href="https://mon-impact-numerique.web.app/">
          ici
         </a>
         .
        </p>
       </div>
       <hr style="margin-top: 20px;margin-bottom: 20px;"/>
       <div class="actualite-wrapper">
        <h4 class="act-title" id="act-title">
         24 janvier 2022 :  Aide à la recherche d'itinéraires  en vélo.
        </h4>
        <p>
         Un site vraiment sympa  développé par Raphael Jolivet (IR à Mines Paris Tech)
         <br/>
         <a href="https://safecycle.atelier-des-communs.fr/">
          https://safecycle.atelier-des-communs.fr/
         </a>
        </p>
       </div>
       <hr style="margin-top: 20px;margin-bottom: 20px;"/>
       <div class="actualite-wrapper">
        <h4 class="act-title" id="act-title">
         Semestre d'automne 2021 : première édition mineure DS4H : ICT and Environement.
        </h4>
        <p>
         Plusieurs membres du groupe CO2 (F. Giroire, D. Lopez-Pacheco, L. Deneire, G. Urvoy-Keller, en collaboration avec M. Teller (Droit/GRDEG)) ont monté un cours de mineure DS4H sur la thématique informatique et environnement.
                                Plus d'info sur :
         <a href="https://ds4h.univ-cotedazur.eu/education/minor-ict-and-environment">
          https://ds4h.univ-cotedazur.eu/education/minor-ict-and-environment
         </a>
         <br/>
        </p>
       </div>
       <hr style="margin-top: 20px;margin-bottom: 20px;"/>
       <div class="actualite-wrapper">
        <h4 class="act-title" id="act-title">
         8 avril 2021 : Convois vélo organisé par l'association Choisir le Vélo. Départ de Valbonne.
        </h4>
        <p>
         [Nous relayons ici leur message sur leur compte Facebook]
         <br/>
         <br/>
         Nous mettons en place, en partenariat avec la CASA, des convois vélo.
         <br/>
         Le but est de vous accompagner de votre domicile à votre lieu de travail sur Sophia Antipolis, le tout en essayant un Vélo à Assistance Électrique
         <br/>
         <br/>
         Tout est mis à disposition gratuitement : le VAE ainsi tous les accessoires (cadenas U, casque, doubles sacoches, gilet réfléchissant, pompe, trousse de dépannage).
                                Chaque mois, nous décidons d’un lieu de départ : Antibes, Biot, Valbonne, Mougins, Mouans-Sartoux, Villeneuve-Loubet, et bien d’autres villes selon la demande.
                                On fixe un lieu et une heure de rendez-vous le matin, par exemple un parking relais.
         <br/>
         <br/>
         5 vélos tout équipés et chargés à 100% seront alors mis à disposition.
         <br/>
         <br/>
         L’itinéraire sera encadré par un animateur Choisir Le Vélo, pour vous guider et vous donner des astuces.
                                Des conseils pour bien se placer sur la route, voir et être vu, anticiper, rester vigilant, respecter le code de la route…
         <br/>
         <br/>
         Vous gardez le vélo attaché à votre entreprise la journée, vous pouvez l’utiliser à votre convenance pour aller faire une course le midi si besoin. Et le trajet retour le soir sera aussi encadré de la même manière.
         <br/>
         <br/>
         Le formulaire d'inscription :
         <br/>
         <a href="https://framaforms.org/convoi-covelotaf-en-vae-valbonne-sophia-antipolis">
          https://framaforms.org/convoi-covelotaf-en-vae-valbonne-sophia-antipolis
         </a>
         <br/>
         Indiquez-nous en commentaire d'où vous souhaiteriez partir pour le prochain convoi vélo.
         <br/>
        </p>
       </div>
       <hr style="margin-top: 20px;margin-bottom: 20px;"/>
       <div class="actualite-wrapper">
        <h4 class="act-title" id="act-title">
         18 mars 2021
        </h4>
        <p>
         Organisation du Virtual Poly'Clean Up Day par le BDE de Polytech Nice Sophia, déclinaison locale d'un environnement international, voir
         <a href="https://www.worldcleanupday.fr/">
          lien
         </a>
         .
                                Luc et Guillaume ont fait une (rapide) introduction au problème de l'impact environnemental du numérique.
         <br/>
        </p>
       </div>
       <hr style="margin-top: 20px;margin-bottom: 20px;"/>
       <div class="actualite-wrapper">
        <h4 class="act-title" id="act-title">
         10 décembre 2020 :  Séminaire du laboratoire I3S -  informatique eco-responsable
        </h4>
        <p>
         Invitée :
         <a href="http://people.irisa.fr/Anne-Cecile.Orgerie/">
          Anne-Cécile Orgerie
         </a>
         , Chercheuse CNRS à l'IRISA et  directrice du GDS
         <a href="https://ecoinfo.cnrs.fr/">
          Ecoinfo
         </a>
         du CNRS.
                                Les transparents d'Anne-Cécile sont ici (enfin sous peu...).
         <br/>
         Nos transparents sont
         <a href="https://www.i3s.unice.fr/co2/sites/default/files/groupe_de_travail_co2.pdf">
          ici
         </a>
         .
         <br/>
        </p>
       </div>
       <hr style="margin-top: 20px;margin-bottom: 20px;"/>
       <hr style="margin-top: 20px;margin-bottom: 20px;"/>
      </div>
     </div>
     <footer class="body" id="content-info">
      <h2>
       GROUPE DE TRAVAIL CO2
      </h2>
      <h4 style="margin-bottom: 5px;">
       Auteur du site
      </h4>
      <p>
       Alexis Mérienne, étudiant à Polytech Nice Sophia
       <br/>
      </p>
     </footer>
    </div>
   </section>
  </main>
  <script>
   //mobile menu toggle
		var mobilemenu = document.getElementById('menu-s');
		mobilemenu.addEventListener('click', function() {
			console.log('togglemenu');
			document.getElementById('menu-list').classList.toggle("show");
		});
  </script>
 </body>
</html>