<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link href="https://www.i3s.unice.fr/co2/sites/all/themes/lexi_responsive_theme/favicon.ico" rel="icon" type="image/ico" />
	<title>A propos | GROUPE CO2 I3S</title>
	<link href="../assets/main.css" rel="stylesheet" />
	<meta content="GROUPE CO2 I3S" property="og:title">
	<meta content="GROUPE CO2 I3S" name="twitter:title" />
	<meta content="summary" name="twitter:card">
	<meta content="https://www.i3s.unice.fr/co2/fr" property="og:url" />
	<meta
		content="Le groupe Co2 i3s est un consortium de chercheurs travaillants pour une meilleure inclusion des thématiques de l'environnement dans le milieu de la recherche."
		property="og:description" />
	<meta
		content="Le groupe Co2 i3s est un consortium de chercheurs travaillants pour une meilleure inclusion des thématiques de l'environnement dans le milieu de la recherche."
		property="twitter:description" />
	<meta content="GROUPE CO2 I3S" property="og:site_name">
	<meta content="Alexis Mérienne" property="og:article:author">
	</meta>
	</meta>
	</meta>
	</meta>
</head>

<body>
	<main>
		<header class="top">
			<p class="img" style="display:flex;justify-content: center;margin-bottom:50px;">
				<img alt="gt co2 banner" loading="lazy" src="../assets/gtco2banner.jpg"/ width="80%"></p>
			<h1>Groupe de travail Co2</h1>
			<div class="subtitle">
				<a href="https://solar.lowtechmagazine.com/fr">Ce site reprend le design de sobriété proposé par low-tech magazine</a>
			</div>
			<nav id="menu">
				<div id="menu-s">
					menu
				</div>
				<ul id="menu-list">
					<li><a class="category"
						href="https://i3s-gt-co2.netlify.app/">À propos</a></li>
					<li class="act"><a class="category"
							href="actualites.html">Actualités</a>
					</li>
					<li class="bc"><a class="category"
							href="bilancarbone.html">Bilan carbone</a>
					</li>
					<li class="enq"><a class="category"
							href="enquete.html">Enquête</a></li>
				</ul>
			</nav>
		</header>
		<section class="page" id="content">
			<header>
				<h1 class="page-title">Bilan Gaz à Effet de Serre (BGES)</h1>
				<p class="summary" style="margin-bottom: 50px ;">
					BGES 2019
				</p>
			</header>
			<div class="entry-content" >
                <div class="page-content" style="display: flex;flex-direction: row;">
                    <div class="page-logos" style="width: 25%;">
                        <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
                        <img alt="i3s logo" loading="lazy" src="../assets/i3slogo.jpg"></p>
                        <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
                        <img alt="uca logo" loading="lazy" src="../assets/ucalogo.jpg"></p>
                    <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
                        <img alt="cnrs logo" loading="lazy" src="../assets/cnrslogo.jpg"></p>
                    </div>
                    <div class="actualite-list" style="display: flex;flex-direction: column;">
                        <hr style="margin-top: 20px;margin-bottom: 20px;">
                        <div class="actualite-wrapper">
                            <p>Notre premier bilan carbone au laboratoire est pour l'année 2019.<br><br>

                                Nous avons utilisé l'outil proposé par Labo1point5, voir <a href="https://labos1point5.org/ges-1point5">lien</a>.<br><br>
                                
                                Commençons par lister quelques chiffres clefs et aussi quelques difficultés que nous avons rencontrées.<br>

                                <h3><strong>Chiffres clefs :</strong> </h3>
                                <ul>
                                    <li>Membres du laboratoire : 31 C, 99 E/C, 24 ITA, 68 Doct./Post Doc.</li>
                                    <li>324 missions UCA ou CNRS cette année-là</li>
                                    <li>70 déplacements domicile-travail, soit 32% de réponse. L'outil fait une règle de trois pour obtenir son estimation globale</li>
                                    <li>Surface Algorithmes : 2700 m2 et Templiers : 1800 m2.</li>
                                </ul>
                                <h3><strong>difficultés :</strong> </h3>
                                <ul>
                                    <li>Inria Sophia Antipolis - Méditerranée n'a pas encore fait son bilan, mais il faudra se poser alors la question de ne pas comptabiliser deux fois les mêmes personnels et les mêmes missions</li>
                                    <li>Nous n'avons pas comptabilisé les missions des personnels INRIA ainsi que les missions des personnels UCA ou CNRS qui ont des missions payées sur des budgets gérés par INRIA.</li>
                                    <li>Les missions CNRS peuvent être téléversées avec l'outil de gestion Geslab qui s'interface désormais avec le BGES de Labo1point5, mais nous n'avons pas testé.<br>Il a fallu assigner à la main si la mission était faite en avion ou en voiture.</li>
                                    <li>Pour les missions en avion, les étapes intermédiaires ne sont pas connues.</li>
                                    <li>Pour les voitures, le co-voiturage n'a pas été pris en compte</li>
                                    <li>La consommation électrique des Algorithmes est approximative et celle des Templiers inconnues. Nous avons donc calquée celle des Algorithmes sur les Templiers avec un facteur d'échelle.</li>
                                    <li>Nous n'avons pas d'information sur les liquides frigorigènes des climatisations.</li>
                                </ul>
                                <p>Avec tous ces bémols, voici notre bilan pour 2019 :</p>
                                <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 600px;">
                                <img alt="bges 2019" loading="lazy" src="../assets/bilancarbone/bges2019.png"></p>
                                <h3><strong>Analyse :</strong> </h3>
                                <ul>
                                    <li>Ce qui domine est clairement les <strong>déplacements domicile-travail</strong>.<br>
                                        Même si on suppose une grosse erreur avec la non-intégration des missions côté INRIA , le coût des déplacements </li>
                                    <li>domicile-travail reste un gros facteur, sans doute lié au faible développement des transports en commun dans la région.</li>
                                    <li>Le coût des bâtiments est faible car seule l'électricité est comptée et que celle-ci est faiblement carbonée en France, grâce ou à cause du parc nucléaire. Difficile d'estimer si les fluides frigorigènes changeraient la donne.</li>
                                </ul>

                                <p>
                                    Action à court terme : au vu du poids des trajets domicile-travail et du fait que plusieurs membres du labo viennent en vélo électrique, nous avons mis en place la page <a href="https://www.i3s.unice.fr/co2/fr/node/5">Mobilité</a>.
                                </p>




                        </div>
                    </div>
                </div>
					
		<footer class="body" id="content-info">
			<h2>
				GROUPE DE TRAVAIL CO2
			</h2>
				<h4 style="margin-bottom: 5px;">Auteur du site</h4>
				<p>Alexis Mérienne, étudiant à Polytech Nice Sophia<br/></p>
	</main>
	<script>
        //mobile menu toggle
		var mobilemenu = document.getElementById('menu-s');
		mobilemenu.addEventListener('click', function() {
			console.log('togglemenu');
			document.getElementById('menu-list').classList.toggle("show");
		});
	</script>
</body>

</html>