<!DOCTYPE html>
<html lang="fr">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://www.i3s.unice.fr/co2/sites/all/themes/lexi_responsive_theme/favicon.ico" rel="icon" type="image/ico"/>
  <title>
   A propos | GROUPE CO2 I3S
  </title>
  <link href="../assets/main.css" rel="stylesheet"/>
  <meta content="GROUPE CO2 I3S" property="og:title"/>
  <meta content="GROUPE CO2 I3S" name="twitter:title">
   <meta content="summary" name="twitter:card"/>
   <meta content="https://www.i3s.unice.fr/co2/fr" property="og:url">
    <meta content="Le groupe Co2 i3s est un consortium de chercheurs travaillants pour une meilleure inclusion des thématiques de l'environnement dans le milieu de la recherche." property="og:description"/>
    <meta content="Le groupe Co2 i3s est un consortium de chercheurs travaillants pour une meilleure inclusion des thématiques de l'environnement dans le milieu de la recherche." property="twitter:description"/>
    <meta content="GROUPE CO2 I3S" property="og:site_name"/>
    <meta content="Alexis Mérienne" property="og:article:author"/>
   </meta>
  </meta>
 </head>
 <body>
  <main>
   <header class="top">
    <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;">
     <img alt="gt co2 banner" loading="lazy" src="../assets/gtco2banner.jpg" width="80%"/>
    </p>
    <h1>
     Groupe de travail Co2
    </h1>
    <div class="subtitle">
     <a href="https://solar.lowtechmagazine.com/fr">
      Ce site reprend le design de sobriété proposé par low-tech magazine
     </a>
    </div>
    <nav id="menu">
     <div id="menu-s">
      menu
     </div>
     <ul id="menu-list">
      <li>
       <a class="category" href="https://i3sgroupeco2.netlify.app/">
        À propos
       </a>
      </li>
      <li class="act">
       <a class="category" href="actualites.html">
        Actualités
       </a>
      </li>
      <li class="bc">
       <a class="category" href="bilancarbone.html">
        Bilan carbone
       </a>
      </li>
      <li class="enq">
       <a class="category" href="enquete.html">
        Enquête
       </a>
      </li>
     </ul>
    </nav>
   </header>
   <section class="page" id="content">
    <header>
     <h1 class="page-title">
      Enquête
     </h1>
    </header>
    <div class="entry-content">
     <div class="page-content" style="display: flex;flex-direction: row;">
      <div class="page-logos" style="width: 25%;">
       <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
        <img alt="i3s logo" loading="lazy" src="../assets/i3slogo.jpg"/>
       </p>
       <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
        <img alt="uca logo" loading="lazy" src="../assets/ucalogo.jpg"/>
       </p>
       <p class="img" style="display:flex;justify-content: center;margin-bottom:50px;width: 100px;">
        <img alt="cnrs logo" loading="lazy" src="../assets/cnrslogo.jpg"/>
       </p>
      </div>
      <div class="actualite-list" style="display: flex;flex-direction: column;">
       <hr style="margin-top: 20px;margin-bottom: 20px;"/>
       <div class="actualite-wrapper">
        <p>
         Voici le résultat de l'enquête que nous avons menée auprès des membres du laboratoire en 2021.
        </p>
        <p>
         Taux de réponse : 63 personnes ont répondu (7 administratifs et 56 scientifiques). Les effectifs du laboratoire sont de l'ordre de 210 (permanent·e·s + doctorant·e·s + ITA)
        </p>
        <h3>
         <strong>
          Les résultats bruts sont ici
         </strong>
         :
        </h3>
        <p>
         Pour celles et ceux intéressé·e·s, le GDR labo1point5 a mené une enquête plus vaste à la même période (fin 2020) auprès de 30000 personnels du CNRS. 6000 personnes y ont répondu. L'analyse est toujours en cours, mais une première restitution est disponible ici :
         <a href="https://labos1point5.org/les-enquetes/enquete1-resultat">
          https://labos1point5.org/les-enquetes/enquete1-resultat
         </a>
        </p>
        <p>
         Concernant notre enquête, nous pouvons en tirer les leçons suivantes :
        </p>
        <h4>
         <strong>
          Les membres du laboratoires sont dans leur majorité
         </strong>
         :
        </h4>
        <ul>
         <li>
          conscients des enjeux climatiques ...
         </li>
         <li>
          ... et considèrent que le laboratoire doit œuvrer
         </li>
         <li>
          dans le sens d'une réduction de son empreinte
         </li>
         <li>
          en informant les personnels
         </li>
        </ul>
        <h4>
         <strong>
          Concernant les mesures à mettre en oœuvre
         </strong>
         :
        </h4>
        <ul>
         <li>
          adhésion forte à la réduction des voyages en avion notamment
         </li>
         <li>
          mais réticence à l'idée d'une solution imposée d'en haut
         </li>
         <li>
          Rappel règles pour les fonctionnaires d'état : avion n'est pas autorisé si alternative en train de moins de 4h ou 6h pour A/R dans la journée
         </li>
        </ul>
        <h4>
         <strong>
          Concernant les orientations de la recherche
         </strong>
         :
        </h4>
        <ul>
         <li>
          l'idée de prendre en compte les enjeux environnementaux dans des appels à projets interne
         </li>
         <li>
          mais à nouveau sans un cadre trop rigide
         </li>
         <li>
          il y a une volonté de prendre en compte le climat dans nos orientations de recherche lorsque cela semble applicable
         </li>
         <li>
          Il y a un besoin d'informer sur l'impact du numérique, qui est au cœur de notre métier ou de notre recherche.
         </li>
        </ul>
        <footer class="body" id="content-info">
         <h2>
          GROUPE DE TRAVAIL CO2
         </h2>
         <h4 style="margin-bottom: 5px;">
          Auteur du site
         </h4>
         <p>
          Alexis Mérienne, étudiant à Polytech Nice Sophia
          <br/>
         </p>
        </footer>
       </div>
      </div>
     </div>
    </div>
   </section>
  </main>
  <script>
   //mobile menu toggle
		var mobilemenu = document.getElementById('menu-s');
		mobilemenu.addEventListener('click', function() {
			console.log('togglemenu');
			document.getElementById('menu-list').classList.toggle("show");
		});
  </script>
 </body>
</html>